html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{-webkit-appearance:none;appearance: none;box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body,div{font-size:0;}
p, span,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;-ms-word-wrap:break-word;pointer-events:auto;}
sup{font-size:inherit;vertical-align:baseline;position:relative;top:-0.4em;}
sub{font-size:inherit;vertical-align:baseline;position:relative;top:0.4em;}
ul{display:block;word-spacing:normal;word-wrap:break-word;list-style-type:none;margin:0;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li{display:block;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea{resize:none;}
.shm-l{float:left;clear:left;}
.shm-r{float:right;clear:right;}
.whitespacefix{word-spacing:-1px;}
video:not(#video_background):not(.videoinline){width:100%;max-width:900px;}
video:-webkit-full-screen{max-width:100% !important;}
video:-moz-full-screen{max-width:100% !important;}
video:-ms-fullscreen{max-width:100% !important;}
video:fullscreen{max-width:100% !important;}
.player1.fullscreen1-active video{max-width:100% !important;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(255,255,255);}
.pos{position:relative;margin-top:0;}
.vis{display:block;vertical-align:top;}
.section{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:960px;width:960px;min-height:489px;}
.colwrapper{line-height:0;}
.size-2{min-width:960px;width:960px;min-height:489px;height:489px;}
.cont-2{z-index:1;pointer-events:auto;}
.img{position:absolute;left:0;width:960px;height:489px;top:0;border:0;}
.img-2{left:0;width:960px;height:489px;top:0;display:inline-block;}
.pos-3{position:relative;margin-left:70px;margin-top:-461px;}
.size-3{min-width:820px;width:820px;min-height:32px;}
.size-4{min-width:98px;width:98px;min-height:32px;height:32px;}
.cont-3{z-index:21;pointer-events:auto;}
.img-3{position:absolute;left:0;width:98px;height:32px;top:0;border:0;}
.img-4{left:0;width:98px;height:32px;top:0;display:inline-block;}
.pos-4{position:relative;margin-left:256px;margin-top:2px;}
.size-5{min-width:95px;width:95px;min-height:26px;height:26px;}
.cont-4{z-index:22;pointer-events:auto;}
.img-5{position:absolute;left:0;width:95px;height:26px;top:0;border:0;}
.img-6{left:0;width:95px;height:26px;top:0;display:inline-block;}
.pos-5{position:relative;margin-left:283px;margin-top:4px;}
.size-6{min-width:88px;width:88px;min-height:24px;height:24px;}
.cont-5{z-index:25;pointer-events:auto;}
.img-7{position:absolute;left:0;width:88px;height:24px;top:0;border:0;}
.img-8{left:0;width:88px;height:24px;top:0;display:inline-block;}
.pos-6{position:relative;margin-left:70px;margin-top:-321px;}
.size-7{min-width:820px;width:820px;min-height:77px;}
.size-8{min-width:377px;width:377px;min-height:77px;height:77px;}
.cont-6{z-index:3;pointer-events:auto;}
.img-9{position:absolute;left:0;width:377px;height:77px;top:0;border:0;}
.img-10{left:0;width:377px;height:77px;top:0;display:inline-block;}
.pos-7{position:relative;margin-left:241px;margin-top:0;}
.size-9{min-width:202px;width:202px;min-height:77px;height:77px;}
.cont-7{z-index:24;pointer-events:auto;}
.img-11{position:absolute;left:0;width:202px;height:77px;top:0;border:0;}
.img-12{left:0;width:202px;height:77px;top:0;display:inline-block;}
.pos-8{position:relative;margin-left:70px;margin-top:-202px;}
.size-10{min-width:820px;width:820px;min-height:165px;height:165px;}
.cont-8{z-index:23;pointer-events:auto;}
.img-13{position:absolute;left:0;width:820px;height:165px;top:0;border:0;}
.img-14{left:0;width:820px;height:165px;top:0;display:inline-block;}
.vis-3{display:inline-block;vertical-align:top;overflow:hidden;}
.pos-9{position:relative;margin-left:206px;margin-top:13px;}
.size-11{min-width:600px;width:600px;min-height:80px;height:80px;}
.cont-9{pointer-events:auto;}
.para{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font{font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;font-size:40px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(220,50,47);background-color:initial;line-height:79px;letter-spacing:normal;text-shadow:none;}
.font-2{font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;font-size:40px;font-weight:700;font-style:normal;text-decoration:none;text-transform:none;color:rgb(220,50,47);background-color:initial;line-height:79px;letter-spacing:normal;text-shadow:none;}
.pos-10{position:relative;margin-left:70px;margin-top:0;}
.size-12{min-width:820px;width:820px;min-height:278px;}
.size-13{min-width:820px;width:820px;min-height:254px;height:254px;}
.cont-10{z-index:2;pointer-events:auto;}
.img-15{position:absolute;left:0;width:820px;height:215px;top:19px;border:0;}
.img-16{left:0;width:820px;height:215px;top:19px;display:inline-block;}
.pos-11{position:relative;margin-left:0;margin-top:-6px;}
.size-14{min-width:820px;width:820px;min-height:30px;}
.pos-12{position:relative;margin-left:0;margin-top:0;}
.size-15{min-width:240px;width:240px;min-height:27px;height:27px;}
.cont-11{z-index:4;pointer-events:auto;}
.img-17{position:absolute;left:0;width:240px;height:27px;top:0;border:0;}
.img-18{left:0;width:240px;height:27px;top:0;display:inline-block;}
.pos-13{position:relative;margin-left:310px;margin-top:0;}
.size-16{min-width:147px;width:147px;min-height:30px;height:30px;}
.cont-12{z-index:5;pointer-events:auto;}
.img-19{position:absolute;left:0;width:147px;height:30px;top:0;border:0;}
.img-20{left:0;width:147px;height:30px;top:0;display:inline-block;}
.pos-14{position:relative;margin-left:17px;margin-top:0;}
.size-17{min-width:106px;width:106px;min-height:27px;height:27px;}
.cont-13{z-index:26;pointer-events:auto;}
.img-21{position:absolute;left:0;width:106px;height:27px;top:0;border:0;}
.img-22{left:0;width:106px;height:27px;top:0;display:inline-block;}
.pos-15{position:relative;margin-left:68px;margin-top:30px;}
.size-18{min-width:824px;width:824px;min-height:127px;}
.size-19{min-width:242px;width:242px;min-height:127px;height:127px;}
.img-23{position:absolute;left:0;width:242px;height:127px;top:0;border:0;}
.img-24{left:0;width:242px;height:127px;top:0;display:inline-block;}
.pos-16{position:relative;margin-left:50px;margin-top:0;}
.size-20{min-width:240px;width:240px;min-height:126px;height:126px;}
.img-25{position:absolute;left:0;width:240px;height:126px;top:0;border:0;}
.img-26{left:0;width:240px;height:126px;top:0;display:inline-block;}
.pos-17{position:relative;margin-left:50px;margin-top:0;}
.pos-18{position:relative;margin-left:68px;margin-top:16px;}
.size-21{min-width:785px;width:785px;min-height:56px;}
.size-22{min-width:180px;width:180px;min-height:56px;height:56px;}
.img-27{position:absolute;left:0;width:179px;height:56px;top:0;border:0;}
.img-28{left:0;width:179px;height:56px;top:0;display:inline-block;}
.pos-19{position:relative;margin-left:110px;margin-top:0;}
.size-23{min-width:219px;width:219px;min-height:56px;height:56px;}
.img-29{position:absolute;left:0;width:219px;height:56px;top:0;border:0;}
.img-30{left:0;width:219px;height:56px;top:0;display:inline-block;}
.pos-20{position:relative;margin-left:73px;margin-top:0;}
.size-24{min-width:203px;width:203px;min-height:42px;height:42px;}
.img-31{position:absolute;left:0;width:203px;height:42px;top:0;border:0;}
.img-32{left:0;width:203px;height:42px;top:0;display:inline-block;}
.pos-21{position:relative;margin-left:68px;margin-top:35px;}
.size-25{min-width:824px;width:824px;min-height:125px;}
.pos-22{position:relative;margin-left:0;margin-top:0;}
.size-26{min-width:240px;width:240px;min-height:125px;height:125px;}
.img-33{position:absolute;left:0;width:240px;height:125px;top:0;border:0;}
.img-34{left:0;width:240px;height:125px;top:0;display:inline-block;}
.pos-23{position:relative;margin-left:52px;margin-top:0;}
.size-27{min-width:240px;width:240px;min-height:125px;height:125px;}
.img-35{position:absolute;left:0;width:240px;height:125px;top:0;border:0;}
.img-36{left:0;width:240px;height:125px;top:0;display:inline-block;}
.pos-24{position:relative;margin-left:52px;margin-top:0;}
.size-28{min-width:240px;width:240px;min-height:125px;height:125px;}
.img-37{position:absolute;left:0;width:239px;height:125px;top:0;border:0;}
.img-38{left:0;width:239px;height:125px;top:0;display:inline-block;}
.pos-25{position:relative;margin-left:68px;margin-top:17px;}
.size-29{min-width:748px;width:748px;min-height:39px;}
.pos-26{position:relative;margin-left:0;margin-top:0;}
.size-30{min-width:231px;width:231px;min-height:39px;height:39px;}
.img-39{position:absolute;left:0;width:231px;height:39px;top:0;border:0;}
.img-40{left:0;width:231px;height:39px;top:0;display:inline-block;}
.pos-27{position:relative;margin-left:59px;margin-top:0;}
.size-31{min-width:210px;width:210px;min-height:39px;height:39px;}
.img-41{position:absolute;left:0;width:210px;height:39px;top:0;border:0;}
.img-42{left:0;width:210px;height:39px;top:0;display:inline-block;}
.pos-28{position:relative;margin-left:91px;margin-top:0;}
.size-32{min-width:157px;width:157px;min-height:39px;height:39px;}
.img-43{position:absolute;left:0;width:157px;height:39px;top:0;border:0;}
.img-44{left:0;width:157px;height:39px;top:0;display:inline-block;}
.pos-29{position:relative;margin-left:292px;margin-top:48px;}
.size-33{min-width:376px;width:376px;min-height:51px;height:51px;}
.img-45{position:absolute;left:0;width:376px;height:51px;top:0;border:0;}
.img-46{left:0;width:376px;height:51px;top:0;display:inline-block;}
.pos-30{position:relative;margin-left:69px;margin-top:37px;}
.size-34{min-width:823px;width:823px;min-height:138px;}
.size-35{min-width:257px;width:257px;min-height:131px;height:131px;}
.img-47{position:absolute;left:0;width:257px;height:131px;top:0;border:0;}
.img-48{left:0;width:257px;height:131px;top:0;display:inline-block;}
.pos-31{position:relative;margin-left:26px;margin-top:0;}
.size-36{min-width:256px;width:256px;min-height:132px;height:132px;}
.img-49{position:absolute;left:0;width:256px;height:130px;top:1px;border:0;}
.img-50{left:0;width:256px;height:130px;top:1px;display:inline-block;}
.pos-32{position:relative;margin-left:25px;margin-top:0;}
.size-37{min-width:259px;width:259px;min-height:138px;height:138px;}
.img-51{position:absolute;left:0;width:258px;height:138px;top:0;border:0;}
.img-52{left:0;width:258px;height:138px;top:0;display:inline-block;}
.pos-33{position:relative;margin-left:69px;margin-top:31px;}
.size-38{min-width:821px;width:821px;min-height:136px;}
.pos-34{position:relative;margin-left:0;margin-top:0;}
.size-39{min-width:258px;width:258px;min-height:136px;height:136px;}
.img-53{position:absolute;left:0;width:258px;height:136px;top:0;border:0;}
.img-54{left:0;width:258px;height:136px;top:0;display:inline-block;}
.pos-35{position:relative;margin-left:31px;margin-top:0;}
.size-40{min-width:242px;width:242px;min-height:136px;height:136px;}
.img-55{position:absolute;left:0;width:242px;height:136px;top:0;border:0;}
.img-56{left:0;width:242px;height:136px;top:0;display:inline-block;}
.pos-36{position:relative;margin-left:43px;margin-top:0;}
.size-41{min-width:247px;width:247px;min-height:136px;height:136px;}
.img-57{position:absolute;left:0;width:247px;height:136px;top:0;border:0;}
.img-58{left:0;width:247px;height:136px;top:0;display:inline-block;}
.pos-37{position:relative;margin-left:69px;margin-top:41px;}
.size-42{min-width:823px;width:823px;min-height:137px;}
.size-43{min-width:258px;width:258px;min-height:137px;height:137px;}
.img-59{position:absolute;left:1px;width:256px;height:137px;top:0;border:0;}
.img-60{left:1px;width:256px;height:137px;top:0;display:inline-block;}
.pos-38{position:relative;margin-left:25px;margin-top:2px;}
.size-44{min-width:256px;width:256px;min-height:135px;height:135px;}
.img-61{position:absolute;left:0;width:256px;height:135px;top:0;border:0;}
.img-62{left:0;width:256px;height:135px;top:0;display:inline-block;}
.pos-39{position:relative;margin-left:25px;margin-top:0;}
.size-45{min-width:259px;width:259px;min-height:136px;height:136px;}
.img-63{position:absolute;left:1px;width:258px;height:136px;top:0;border:0;}
.img-64{left:1px;width:258px;height:136px;top:0;display:inline-block;}
.pos-40{position:relative;margin-left:70px;margin-top:40px;}
.size-46{min-width:820px;width:820px;min-height:136px;}
.size-47{min-width:257px;width:257px;min-height:136px;height:136px;}
.img-65{position:absolute;left:0;width:257px;height:136px;top:0;border:0;}
.img-66{left:0;width:257px;height:136px;top:0;display:inline-block;}
.pos-41{position:relative;margin-left:25px;margin-top:0;}
.size-48{min-width:256px;width:256px;min-height:135px;height:135px;}
.img-67{position:absolute;left:1px;width:254px;height:135px;top:0;border:0;}
.img-68{left:1px;width:254px;height:135px;top:0;display:inline-block;}
.pos-42{position:relative;margin-left:25px;margin-top:0;}
.size-49{min-width:257px;width:257px;min-height:132px;height:132px;}
.img-69{position:absolute;left:1px;width:255px;height:132px;top:0;border:0;}
.img-70{left:1px;width:255px;height:132px;top:0;display:inline-block;}
.pos-43{position:relative;margin-left:68px;margin-top:38px;}
.size-50{min-width:822px;width:822px;min-height:135px;}
.pos-44{position:relative;margin-left:0;margin-top:2px;}
.size-51{min-width:259px;width:259px;min-height:133px;height:133px;}
.img-71{position:absolute;left:2px;width:256px;height:133px;top:0;border:0;}
.img-72{left:2px;width:256px;height:133px;top:0;display:inline-block;}
.pos-45{position:relative;margin-left:25px;margin-top:3px;}
.size-52{min-width:256px;width:256px;min-height:132px;height:132px;}
.img-73{position:absolute;left:0;width:256px;height:132px;top:0;border:0;}
.img-74{left:0;width:256px;height:132px;top:0;display:inline-block;}
.pos-46{position:relative;margin-left:25px;margin-top:0;}
.size-53{min-width:257px;width:257px;min-height:134px;height:134px;}
.img-75{position:absolute;left:2px;width:254px;height:134px;top:0;border:0;}
.img-76{left:2px;width:254px;height:134px;top:0;display:inline-block;}
.pos-47{position:relative;margin-left:69px;margin-top:41px;}
.size-54{min-width:822px;width:822px;min-height:142px;}
.pos-48{position:relative;margin-left:0;margin-top:3px;}
.size-55{min-width:258px;width:258px;min-height:136px;height:136px;}
.img-77{position:absolute;left:1px;width:256px;height:136px;top:0;border:0;}
.img-78{left:1px;width:256px;height:136px;top:0;display:inline-block;}
.pos-49{position:relative;margin-left:29px;margin-top:2px;}
.size-56{min-width:248px;width:248px;min-height:140px;height:140px;}
.img-79{position:absolute;left:0;width:248px;height:139px;top:0;border:0;}
.img-80{left:0;width:248px;height:139px;top:0;display:inline-block;}
.pos-50{position:relative;margin-left:30px;margin-top:0;}
.size-57{min-width:257px;width:257px;min-height:142px;height:142px;}
.img-81{position:absolute;left:0;width:257px;height:142px;top:0;border:0;}
.img-82{left:0;width:257px;height:142px;top:0;display:inline-block;}
.pos-51{position:relative;margin-left:71px;margin-top:36px;}
.size-58{min-width:812px;width:812px;min-height:141px;}
.pos-52{position:relative;margin-left:0;margin-top:4px;}
.size-59{min-width:258px;width:258px;min-height:136px;height:136px;}
.img-83{position:absolute;left:1px;width:256px;height:136px;top:0;border:0;}
.img-84{left:1px;width:256px;height:136px;top:0;display:inline-block;}
.pos-53{position:relative;margin-left:29px;margin-top:5px;}
.size-60{min-width:253px;width:253px;min-height:135px;height:135px;}
.img-85{position:absolute;left:0;width:253px;height:135px;top:0;border:0;}
.img-86{left:0;width:253px;height:135px;top:0;display:inline-block;}
.pos-54{position:relative;margin-left:25px;margin-top:0;}
.size-61{min-width:247px;width:247px;min-height:141px;height:141px;}
.img-87{position:absolute;left:0;width:247px;height:141px;top:0;border:0;}
.img-88{left:0;width:247px;height:141px;top:0;display:inline-block;}
.pos-55{position:relative;margin-left:0;margin-top:51px;}
.size-62{min-width:960px;width:960px;min-height:115px;height:115px;}
.img-89{position:absolute;left:0;width:960px;height:106px;top:4px;border:0;}
.img-90{left:0;width:960px;height:106px;top:4px;display:inline-block;}
.vis-4{display:none;vertical-align:top;}
@media (max-width:959px) {
.section{min-width:320px;width:320px;}
.size{min-width:320px;width:320px;min-height:163px;}
.size-2{min-width:320px;width:320px;min-height:163px;height:163px;}
.img{width:320px;height:163px;}
.img-2{width:320px;height:163px;}
.pos-3{margin-left:183px;margin-top:-146px;}
.size-3{min-width:124px;width:124px;min-height:11px;}
.size-4{min-width:33px;width:33px;min-height:11px;height:11px;}
.img-3{width:33px;height:11px;}
.img-4{width:33px;height:11px;}
.pos-4{margin-left:15px;margin-top:0;}
.size-5{min-width:32px;width:32px;min-height:9px;height:9px;}
.img-5{width:32px;height:9px;}
.img-6{width:32px;height:9px;}
.pos-5{margin-left:14px;margin-top:1px;}
.size-6{min-width:30px;width:30px;min-height:8px;height:8px;}
.img-7{width:30px;height:8px;}
.img-8{width:30px;height:8px;}
.pos-6{margin-left:11px;margin-top:-152px;}
.size-7{min-width:281px;width:281px;min-height:134px;}
.size-8{min-width:111px;width:111px;min-height:23px;height:23px;}
.img-9{width:111px;height:23px;}
.img-10{width:111px;height:23px;}
.pos-7{margin-left:102px;margin-top:108px;}
.size-9{min-width:68px;width:68px;min-height:26px;height:26px;}
.img-11{width:68px;height:26px;}
.img-12{width:68px;height:26px;}
.pos-8{margin-left:11px;margin-top:-114px;}
.size-10{min-width:296px;width:296px;min-height:59px;height:59px;}
.img-13{left:1px;width:295px;height:59px;}
.img-14{left:1px;width:295px;height:59px;}
.pos-9{margin-left:73px;margin-top:1px;}
.size-11{min-width:181px;width:181px;min-height:26px;height:26px;}
.font{font-family:"PingFang SC", sans-serif;font-size:13px;line-height:25px;}
.font-2{font-size:13px;line-height:26px;}
.pos-10{margin-left:10px;}
.size-12{min-width:297px;width:297px;min-height:110px;}
.size-13{min-width:297px;width:297px;min-height:92px;height:92px;}
.img-15{width:297px;height:78px;top:7px;}
.img-16{width:297px;height:78px;top:7px;}
.pos-11{margin-left:1px;margin-top:3px;}
.size-14{min-width:296px;width:296px;min-height:15px;}
.pos-12{margin-top:1px;}
.size-15{min-width:111px;width:111px;min-height:12px;height:12px;}
.img-17{left:1px;width:110px;height:12px;}
.img-18{left:1px;width:110px;height:12px;}
.pos-13{margin-left:56px;margin-top:1px;}
.size-16{min-width:69px;width:69px;min-height:14px;height:14px;}
.img-19{width:69px;height:14px;}
.img-20{width:69px;height:14px;}
.pos-14{margin-left:7px;}
.size-17{min-width:53px;width:53px;min-height:13px;height:13px;}
.img-21{left:1px;width:51px;height:13px;}
.img-22{left:1px;width:51px;height:13px;}
.pos-15{margin-left:11px;margin-top:20px;}
.size-18{min-width:293px;width:293px;min-height:203px;}
.size-19{min-width:139px;width:139px;min-height:73px;height:73px;}
.img-23{width:139px;height:73px;}
.img-24{width:139px;height:73px;}
.pos-16{margin-left:15px;}
.size-20{min-width:139px;width:139px;min-height:73px;height:73px;}
.img-25{width:139px;height:73px;}
.img-26{width:139px;height:73px;}
.pos-17{margin-left:0;margin-top:57px;}
.pos-18{margin-left:9px;margin-top:-123px;}
.size-21{min-width:293px;width:293px;min-height:155px;}
.size-22{min-width:120px;width:120px;min-height:35px;height:35px;}
.img-27{left:4px;width:112px;height:35px;}
.img-28{left:4px;width:112px;height:35px;}
.pos-19{margin-left:36px;}
.size-23{min-width:137px;width:137px;min-height:35px;height:35px;}
.img-29{width:137px;height:35px;}
.img-30{width:137px;height:35px;}
.pos-20{margin-left:2px;margin-top:95px;}
.size-24{min-width:124px;width:124px;min-height:25px;height:25px;}
.img-31{left:1px;width:121px;height:25px;}
.img-32{left:1px;width:121px;height:25px;}
.pos-21{margin-left:11px;margin-top:-105px;}
.size-25{min-width:291px;width:291px;min-height:193px;}
.pos-22{margin-left:152px;}
.size-26{min-width:139px;width:139px;min-height:72px;height:72px;}
.img-33{width:139px;height:72px;}
.img-34{width:139px;height:72px;}
.pos-23{margin-left:0;margin-top:49px;}
.size-27{min-width:137px;width:137px;min-height:71px;height:71px;}
.img-35{width:136px;height:71px;}
.img-36{width:136px;height:71px;}
.pos-24{margin-left:16px;margin-top:49px;}
.size-28{min-width:136px;width:136px;min-height:72px;height:72px;}
.img-37{width:136px;height:72px;}
.img-38{width:136px;height:72px;}
.pos-25{margin-left:14px;margin-top:-113px;}
.size-29{min-width:286px;width:286px;min-height:144px;}
.pos-26{margin-left:151px;}
.size-30{min-width:135px;width:135px;min-height:23px;height:23px;}
.img-39{width:135px;height:23px;}
.img-40{width:135px;height:23px;}
.pos-27{margin-left:0;margin-top:96px;}
.size-31{min-width:135px;width:135px;min-height:25px;height:25px;}
.img-41{width:134px;height:25px;}
.img-42{width:134px;height:25px;}
.pos-28{margin-left:18px;margin-top:96px;}
.size-32{min-width:98px;width:98px;min-height:24px;height:24px;}
.img-43{left:1px;width:97px;height:24px;}
.img-44{left:1px;width:97px;height:24px;}
.pos-29{margin-left:94px;margin-top:26px;}
.size-33{min-width:126px;width:126px;min-height:17px;height:17px;}
.img-45{width:126px;height:17px;}
.img-46{width:126px;height:17px;}
.pos-30{margin-left:10px;margin-top:17px;}
.size-34{min-width:297px;width:297px;min-height:169px;}
.size-35{min-width:147px;width:147px;min-height:75px;height:75px;}
.img-47{width:147px;height:75px;}
.img-48{width:147px;height:75px;}
.pos-31{margin-left:6px;}
.size-36{min-width:144px;width:144px;min-height:74px;height:74px;}
.img-49{width:144px;height:74px;top:0;}
.img-50{width:144px;height:74px;top:0;}
.pos-32{margin-left:1px;margin-top:16px;}
.size-37{min-width:146px;width:146px;min-height:78px;height:78px;}
.img-51{width:146px;height:78px;}
.img-52{width:146px;height:78px;}
.pos-33{margin-left:13px;margin-top:-78px;}
.size-38{min-width:294px;width:294px;min-height:177px;}
.pos-34{margin-left:150px;}
.size-39{min-width:144px;width:144px;min-height:76px;height:76px;}
.img-53{width:144px;height:76px;}
.img-54{width:144px;height:76px;}
.pos-35{margin-left:0;margin-top:21px;}
.size-40{min-width:143px;width:143px;min-height:80px;height:80px;}
.img-55{width:142px;height:80px;}
.img-56{width:142px;height:80px;}
.pos-36{margin-left:7px;margin-top:22px;}
.size-41{min-width:144px;width:144px;min-height:79px;height:79px;}
.img-57{width:144px;height:79px;}
.img-58{width:144px;height:79px;}
.pos-37{margin-left:12px;margin-top:25px;}
.size-42{min-width:295px;width:295px;min-height:168px;}
.size-43{min-width:141px;width:141px;min-height:75px;height:75px;}
.img-59{left:0;width:141px;height:75px;}
.img-60{left:0;width:141px;height:75px;}
.pos-38{margin-left:10px;margin-top:0;}
.size-44{min-width:144px;width:144px;min-height:76px;height:76px;}
.img-61{width:144px;height:76px;}
.img-62{width:144px;height:76px;}
.pos-39{margin-left:0;margin-top:18px;}
.size-45{min-width:141px;width:141px;min-height:74px;height:74px;}
.img-63{left:0;width:141px;height:74px;}
.img-64{left:0;width:141px;height:74px;}
.pos-40{margin-left:13px;margin-top:-74px;}
.size-46{min-width:294px;width:294px;min-height:166px;}
.size-47{min-width:142px;width:142px;min-height:75px;height:75px;}
.img-65{width:142px;height:75px;}
.img-66{width:142px;height:75px;}
.pos-41{margin-left:0;margin-top:17px;}
.size-48{min-width:140px;width:140px;min-height:74px;height:74px;}
.img-67{left:0;width:140px;height:74px;}
.img-68{left:0;width:140px;height:74px;}
.pos-42{margin-left:12px;margin-top:17px;}
.size-49{min-width:142px;width:142px;min-height:73px;height:73px;}
.img-69{left:0;width:142px;height:73px;}
.img-70{left:0;width:142px;height:73px;}
.pos-43{margin-left:13px;margin-top:19px;}
.size-50{min-width:293px;width:293px;min-height:166px;}
.pos-44{margin-top:0;}
.size-51{min-width:140px;width:140px;min-height:72px;height:72px;}
.img-71{left:1px;width:139px;height:72px;}
.img-72{left:1px;width:139px;height:72px;}
.pos-45{margin-left:13px;margin-top:0;}
.size-52{min-width:140px;width:140px;min-height:72px;height:72px;}
.img-73{width:140px;height:72px;}
.img-74{width:140px;height:72px;}
.pos-46{margin-left:0;margin-top:21px;}
.size-53{min-width:140px;width:140px;min-height:73px;height:73px;}
.img-75{left:1px;width:139px;height:73px;}
.img-76{left:1px;width:139px;height:73px;}
.pos-47{margin-left:13px;margin-top:-73px;}
.size-54{min-width:294px;width:294px;min-height:175px;}
.pos-48{margin-left:152px;margin-top:0;}
.size-55{min-width:142px;width:142px;min-height:75px;height:75px;}
.img-77{left:0;width:142px;height:75px;}
.img-78{left:0;width:142px;height:75px;}
.pos-49{margin-left:0;margin-top:21px;}
.size-56{min-width:140px;width:140px;min-height:78px;height:78px;}
.img-79{width:140px;height:78px;}
.img-80{width:140px;height:78px;}
.pos-50{margin-left:12px;margin-top:22px;}
.size-57{min-width:141px;width:141px;min-height:78px;height:78px;}
.img-81{width:141px;height:78px;}
.img-82{width:141px;height:78px;}
.pos-51{margin-left:15px;margin-top:21px;}
.size-58{min-width:291px;width:291px;min-height:174px;}
.pos-52{margin-top:0;}
.size-59{min-width:140px;width:140px;min-height:74px;height:74px;}
.img-83{left:0;width:140px;height:74px;}
.img-84{left:0;width:140px;height:74px;}
.pos-53{margin-left:10px;margin-top:0;}
.size-60{min-width:141px;width:141px;min-height:75px;height:75px;}
.img-85{width:141px;height:75px;}
.img-86{width:141px;height:75px;}
.pos-54{margin-left:0;margin-top:19px;}
.size-61{min-width:140px;width:140px;min-height:80px;height:80px;}
.img-87{width:140px;height:80px;}
.img-88{width:140px;height:80px;}
.pos-55{margin-top:25px;}
.size-62{min-width:320px;width:320px;min-height:38px;height:38px;}
.img-89{width:320px;height:36px;top:1px;}
.img-90{width:320px;height:36px;top:1px;}
.vis-4{display:inline-block;}
.pos-56{position:relative;margin-left:160px;margin-top:-142px;}
.size-63{min-width:154px;width:154px;min-height:78px;height:78px;}
.cont-14{pointer-events:auto;}
.img-91{position:absolute;left:5px;width:144px;height:78px;top:0;border:0;}
.img-92{left:5px;width:144px;height:78px;top:0;display:inline-block;}
}
